---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';

import Services from '../components/Services.astro';
import Estadisticas from '../components/Estadisticas.astro';

import SobreNosotros from '../components/SobreNosotros.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Climas Orlando | Expertos en Climatización y Línea Blanca en Reynosa">
	<Navbar />
	<main>
		<Hero />

		<Services />
		<Estadisticas />

		<SobreNosotros />
		<CTA />
	</main>
	<Footer />
</Layout>
