---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';

import Services from '../components/Services.astro';
import SenalesReparacion from '../components/SenalesReparacion.astro';
import SobreNosotros from '../components/SobreNosotros.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Servicios Diaz | Climatización y Línea Blanca en Reynosa">
	<Navbar />
	<main>
		<Hero />

		<Services />

		<SenalesReparacion />

		<SobreNosotros />
		<CTA />
	</main>
	<Footer />
</Layout>
