---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Marcas from '../components/Marcas.astro';
import Services from '../components/Services.astro';
import Proceso from '../components/Proceso.astro';
import Estadisticas from '../components/Estadisticas.astro';
import Testimonios from '../components/Testimonios.astro';
import SobreNosotros from '../components/SobreNosotros.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Climas Orlando | Expertos en Climatización y Línea Blanca en Reynosa">
	<Navbar />
	<main>
		<Hero />
		<Marcas />
		<Services />
		<Proceso />
		<Estadisticas />
		<Testimonios />
		<SobreNosotros />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
