---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import CTA from '../components/CTA.astro';
import TrustIndicators from '../components/TrustIndicators.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Climas y Línea Blanca Orlando - Mantenimiento y Reparación">
	<Navbar />
	<main>
		<Hero />
		<Services />
		<CTA />
		<TrustIndicators />
	</main>
	<Footer />
</Layout>
